langchain
langgraph
langchain-openai
openai

langchain-huggingface
langchain-chroma
langchain-text-splitters
langchain-community
chromadb
sentence-transformers
pypdf
python-docx

duckduckgo-search

icalendar

streamlit

python-dotenv
pydantic
uvicorn
fastapi